@import "Main.css";

/* Hide scrollbars on all browsers */
html,
body {
    overflow: hidden !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.imgFrame {
    display: block;
}

.pageSpan {
    font-size: 14.5pt;
}

.MainPageTable {
    height: 97%;
    width: 100%;
}